/*  ========== Fontes das Letras ========= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
/*  ========== CSS Global ========= */
:root
{
  --principal: #00a78e;
  --sombra-preta: 0 5px 15px rgba(0, 0, 0, 0.2);
  --preto: #000;
  --preto-cinza: #646f87;
  --cinza-claro: #f7f7f7;
  --branco: #fff;
  --preto-alfa: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* peso da fonte */
  --weight-700-title: 700;
  --weight-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: (var(--branco));
}

ul{
  list-style: none;
}

img{
  vertical-align: middle;
}

.container{
  max-width: 1140px;
  margin: auto ;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.btn-1{
  background-color: var(--principal);
  padding: 15px 40px;
  border: none;
  color: var(--branco);
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  transition: all .3s ease-in-out;
}
/* a definir o btn*/
.btn-1:hover{
  color: ar(--branco);
  background-color: rgba(0, 167, 142,0.7);
}

.section-padding {
  padding: 80px 0;
}

.text-align {
  text-align: center;
}

.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.sub-title{
  font-family: "Zain", sans-serif;
  font-size: 30px;
  font-weight: var(--weight-600) /* A definir */;
  color: var(--principal);
}

.main-title {
  font-size: 35px;
  font-weight: var(--weight-600);
}

/* ========== Navegação ========= */
.navbar {
 position: fixed;
 z-index: 999;
 width: 100%;
 padding: 25px;
 transition: all .5s ease-out;
}

.sticky {
  padding: 12px 25px;
  background-color: var(--branco);
  box-shadow: var(--sombra-preta);
}
.logo {
  align-self: center;
  font-family: "Playwrite AU SA", cursive;
}

.logo a{
  font-size: 26px;
  color: var(--preto);
  text-transform: capitalize;
}

.logo a span{
  color: var(--principal)
}

.nav-item{
  display: inline-block;
  position: relative;
  margin-left: 36px;
}

.nav-link{
  font-family: "Zain", sans-serif;
  color: var(--branco);
  font-size: 23px;
  padding: 10px 0;
  display: block;
  text-transform: capitalize;
  transition: color 0.3s;
}

.nav-link:hover,
.navbar.sticky .nav-link:hover{
  color: var(--preto);
}

.navbar.sticky .nav-link{
  color: var(--principal)
}

.menu-btn{
  background-color: var(--principal);
  height: 34px;
  width: 44px;
  box-shadow: var(--sombra-preta);
  border-radius: 5px;
  line-height: 38px;
  text-align: center;
  color: var(--branco);
  font-size: 17px;
  display: none;
}

.navbar.sticky .menu-btn{
  color: var(--principal);
  background-color: var(--branco);
}

/* ========== Home ========= */
.home-section{
  position: relative;
  background-color: var(--sombra-preta);
  z-index: 1;
  overflow-x: hidden;
  padding-top: 80px;
}

.home-text, 
.home-image{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 25px;
}

.home-text h4{
  font-family: "Zain", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: var(--weight-600);
  color: var(--principal);
  margin-bottom: -10px;
}

.home-text h1{
  font-size: 50px;
  margin-top: 15px;
  font-weight: var(--weight-700-title);
  color: var(--preto);
}

.home-text span{
  font-size: 18px;
  line-height: 28px;
  font-weight: var(--weight-700-title);
  color: var(--preto);
  display: block;
  margin-top: 15px;
}

.home-text p {
  font-size: 16px;
  color: var(--preto-cinza);
  font-weight: 24px;
  margin-top: 15px;
}

.home-text .btn{
  display: inline-block;
  margin-top: 15px;
}

.home-image .img-box img{
  position: relative;
  width: 100%;
  z-index: 700;
  margin-top: 51px;
}

.hero-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
}

.hero-shape::before {
  position: absolute;
  content: '';
  width: 1000%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--principal);
  transform: skew(20deg);
}

/* ========== Sobre ========= */
.about-image,
.about-content {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px;
}
.img-box{
  position: relative;
}

dotlottie-player{
  margin-left: -160px;
}

.img-box .about-shape {
  width: 404px;
  height: 525px;
  border-left: 15px solid var(--principal);
  border-bottom: 15px solid var(--principal);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.img-box .about-shape::before{
  position: absolute;
  content: '';
  width: 15px;
  height: 85.4%;
  background-color: var(--principal);
  bottom: 0;
  right: 0;
}

.img-box .about-shape::after{
  position: absolute;
  content: '';
  width: 104%;
  height: 15px;
  background-color: var(--principal);
  top: 36px;
  right: 0;
  transform: rotate(11deg);
  border-top-left-radius: 20px;
}

.about-content p{
 text-align: justify;
}

.hardskill-item{
  max-width: 30%;
  margin-top: 30px;
  margin-bottom: -30px;
  text-align: center;
  padding: 23px;
}

.hardskill-item img {
  width: 80px;
  height: 80px;
}

.hardskill-item h3 {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Zain", sans-serif;
}

/* ========== habilidades ========= */
.skill-section {
  min-height: 100vh;
  background-color: var(--cinza-claro);
}

.skill-item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.skill-item-inner{
  box-shadow: var(--sombra-preta);
  padding: 50px 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.skill-item-inner:hover{
background-color: var(--principal);
}

.skill-item-inner .icon {
  height: 60px;
  width: 60px;
  background-color: var(--principal);
  margin: 0 auto 30px;
  text-align: center;
  font-size: 28px;
  color: var(--branco);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.skill-item-inner:hover .icon {
background-color: var(--branco);
color: var(--principal);
font-size: 24px;
}

.icon i {
  line-height: 60px;
}

.skill-item-inner h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--preto);
  margin: 0 0 10px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.skill-item-inner:hover h3 {
  color: var(--branco);
}

.skill-item-inner p {
  font-size: 16px;
  color: var(--preto-cinza);
  margin: 0;
  line-height: 26px;
  transition: all 0.3s ease;
}

.skill-item-inner:hover p {
  color: var(--cinza-claro);
}

/* Aba de Projetos */
.portfolio-filter {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
  text-align: center;
}

.portfolio-filter button {
  font-size: 15px;
  margin-top: -20px;
  outline: none;
  border: 1px solid;
  border-color: var(--principal);
  padding: 8px;
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--branco);
  margin-right: 20px;
  color: var(--principal);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.portfolio-filter button:hover,
.portfolio-filter button.active {
  background-color: var(--principal);
  color: white;
}

.portfolio-filter button:last-child {
  margin: 0;
}

.portfolio-item{
  flex: 0 0 33.33%;
  max-width: 33.3%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 10px;
}

.portfolio-item:nth-child(2) .portfolio-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--principal);
  box-sizing: border-box;
  border-radius: 10px;
}

.portfolio-img img {
  width: 100%;
  height: auto;
  display: block;
}


.portfolio-item.hide{
  display: none;
}

.portfolio-item.show{
  display: block;
  animation: showItem 0.5 ease;
}

@keyframes showItem{
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.portfolio-item-inner {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--sombra-preta);
  cursor: pointer;
  position: relative;
}

/* provisodio, depois retirar futuramente */

.production{
  cursor: not-allowed;
}

.red {
  color: red !important;
  border: 1px solid;
}

/* fim do provisório */

.portfolio-img img {
  width: 100%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
}

.portfolio-item .portfolio-info {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 30px;
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio-item:hover .portfolio-info {
  opacity: 1;
}

.portfolio-info h4{
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio-info:hover h4 {
  transform: translateX(0);
  opacity: 1;
}

.portfolio-info .icon{
  height: 40px;
  width: 40px;
  color: var(--branco);
  background-color: var(--principal);
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: 30px;
  transform: translateX(20px);
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio-info:hover .icon {
  transform: translateX(0);
  opacity: 1;
}

.portfolio-info .icon .fa{
  line-height: 40px;
}

/* ====== Contato ======*/
.contact-section {
  min-height: 100vh;
  background-color: var(--cinza-claro);
}

.contact-item{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact-item-inner {
  padding: 30px 15px;
  text-align: center;
  box-shadow: var(--sombra-preta);
  border-radius: 5px;
  width: 100%;
}

.contact-item-inner:hover{
  background-color: #f3f3f3;
}

.contact-item-inner i{
  font-size: 25px;
  color: var(--principal);
}

.contact-item-inner span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--preto);
  margin: 15px 0 10px;
  text-transform: capitalize;
}

.contact-item-inner p {
  font-size: 16px;
  color: var(--preto-cinza);
  line-height: 26px;
  margin: 0;
}

.contact-form{
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}

.w-50{
  padding: 0 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.input-group {
  margin: 0 0 25px;
  border-radius: 30px;
  background-color: var(--cinza-claro);
  box-shadow: var(--sombra-preta);
}

.input-control {
  font-family: "Zain", sans-serif;
  height: 45px;
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding: 0 15px;
  color: var(--preto-cinza);
  transition: all 0.3 ease;
}

.input-group textarea.input-control{
  height: 180px;
  padding-top: 15px;
  resize: none;
}

.submit-btn {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding: 0 15px;
}

/*===== footer =====*/
.footer {
  background-color: var(--principal);
}

.copyright-text{
  font-family: "Zain", sans-serif;
  padding: 10px 0;
  font-size: 24px;
  color: var(--branco);
  font-weight: 300;
  margin: 8px 0 0;
}

@media (max-width: 991px) {
  .menu {
    position: fixed;
    left: -100%;
    top: 80px;
    flex-direction: column;
    background-color: var(--principal);
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0,0,0,.05);
    transition: all 0.5s ease
  }

  .menu.active{
    left: 0;
  }

  .navbar.sticky .menu{
    background-color: var(--branco);
    top: 65px;
  }

  .nav-item{
    display: block;
    margin: 6px 0;
  }

  .navbar.sticky .nav-link{
    color: var(--principal);
  }

  .menu-btn{
    display: block;
    z-index: 999;
  }

  .hero-shape {
    display: none;
  }

  .home-text {
    text-align: center;
    margin-top: 20px;
  }

  .home-text,
  .home-image{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-image{
    display: flex;
    justify-content: center;
  }

  .img-box{
  margin-top: 30px; 
  }

  .about-image {
    display: none;
  }

  .about-content {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .section-title {
    text-align: center;
  }

  .portfolio-item,
  .skill-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .skill-item,
  .portfolio-item,
  .contact-item,
  .w-50,
  .about-content{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .hardskill-item{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .copyright-text {
    font-size: 22px;
  }
}